<phpunit>
    <testsuites>
        <testsuite name="integration">
            <directory suffix=".phpt">tests/integration/</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>library/</directory>
        </whitelist>
    </filter>
</phpunit>
